body {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(360, 100%, 100%);
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.small-side-margin {
  margin-left: 3rem;
  margin-right: 3rem;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

#header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  color: black;
}

h2 {
  font-size: 0.75rem;
  color: black;
  font-weight: bold;
  margin-top: 0;
}

h3 {
  color: black;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

#instructions p {
  font-size: 0.6rem;
  color: black;
  line-height: 1.1rem;
}

.card p {
  font-size: 0.6rem;
  color: black;
  margin-top: 0.5rem;
}

.credit {
  margin: 0!important;
}

.card {
  height: 12rem;
  width: 12rem;
  background-color: rgb(111, 166, 56);
  border: 4px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../images/card-front.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 5px;
  padding-left: 5px;
}

.card:hover {
  cursor: pointer;
}

.card img {
  max-height: 8rem;
  max-width: 8rem;
  padding-bottom: 0.5rem;
}

.button {
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  margin: auto 2rem;
  text-align: center;
  display: none;
}

.button a {
  color: white;
  font-size: 1rem;
}
