body {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(14, 87%, 85%);
}

.padding-top {
  padding-top: 5.25rem;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

#header {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  color: black;
}

h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

h3 {
  color: black;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#instructions p {
  font-size: 1.25rem;
  color: black;
  padding: 1rem 0 0 0;
  line-height: 1.75rem;
}

.card p {
  font-size: 0.75rem;
  color: black;
  font-weight: normal;
  margin-top: 1rem;
}

.credit {
  margin: 0;
}

.card {
  height: 20rem;
  background-color: rgb(111, 166, 56);
  border: 4px solid #ffffff;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background-image: url("../images/card-front.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  cursor: pointer;
}

.card img {
  max-height: 15rem;
  max-width: 15rem;
  padding-bottom: 1rem;
}

.button {
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  margin: auto 2rem;
  text-align: center;
  display: none;
}

.button a {
  color: white;
  font-size: 1rem;
}
